<div id="pager">
  <div>
    <% if previous_page %>
      <%= link_to(
        "< Previous page",
        hn_search_results_path(page: previous_page, tags: search_params['tags'], query: search_params['query'] )
      ) %>
    <% end %>
  </div>
  <div>
    <% if next_page %>
      <%= link_to(
        "Next page >",
        hn_search_results_path(page: next_page, tags: search_params['tags'], query: search_params['query'] )
      ) %>
    <% end %>
  </div>
</div>