<div id="new_form">
  <%= form_with(model: search_notebook) do |form| %>
    <div>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>